@import 'variables.scss';

footer {
    background-color: $primaryColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    p {
        padding-top: 80px;
        padding-bottom: 30px;
        color: $whiteColor;
        text-align: center;
        margin-bottom: 0;
    }
}