@import 'variables.scss';

.navbar {
    background-color: $primaryColor;


    button {
        border-color: $whiteColor;
    }

    a,
    button,
    ul li {
        color: $whiteColor;
    }

    .admin-link {
        background-color: $whiteColor;
        color: $blackColor;
        border: 1px solid $whiteColor;
        border-radius: 6px;

        &:hover {
            background-color: $primaryColor;
            color: $whiteColor;

        }
    }

    .sign-out-link {
        cursor: pointer;
    }
}